<mat-sidenav-container class="sidenav-container" flex>
<mat-sidenav-content>
    
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Philippine Maps</span>

        <span class="example-spacer"></span>
        <button [routerLink]="['/philippines']" mat-raised-button>Home</button>
    </mat-toolbar-row>
</mat-toolbar>

<div class="grid-container">
    <router-outlet></router-outlet>
</div>

</mat-sidenav-content>
</mat-sidenav-container>

<footer>
    <mat-toolbar color="secondary">
        <mat-toolbar-row>
            <span class="footer-text">Created by Kevin Dhale dela Cruz</span>
        </mat-toolbar-row>
    </mat-toolbar>
</footer>
